table, th, td {
    border: 1px solid black;

}
select{max-width:150px;
color: black;}

label {

  width:150px;

  display: inline-block;}
  
  
.beta tr:hover{
background-color:lightblue;
}
.beta td:hover{
background-color: #0066ff;
}

#myProgress {
  position: relative;
  width: 300px;
  height: 20px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #0040ff;
}
